# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# They will be requested by default on pull requests.
*       @CondeNast/spire

# These owners will take precedence for repo submodules.
/spire/cli/ @paulfryzel @maxcan7 @DurgaSankar-CN
